@font-face {
  font-family: "poppinsRegular";
  src: url("./fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppinsBold";
  src: url("./fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "poppinsLight";
  src: url("./fonts/Poppins-Light.ttf");
}

*{
  margin:0;
  padding:0;
}

/***************************** Header section ****************************/
.navbar {
  display: flex;
  padding: .5rem 3rem;
  font-family: "poppinsLight";
  justify-content: space-between;
}
.nav-menu{
  margin-top: .5rem;
}
#logo {
  justify-self: flex-start;
  font-size: 1.5rem;
  width: 12rem;
  margin-left: 1rem;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #000000;
  transition: all 0.3s ease 0s;
  font-size: 1.5rem;
}

.navbar a:hover {
  color: #FC8769;
}

.cart{
  display: flex;
  align-items: center;
}
.cart-button{
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  border: none;
  align-content: center;
  position: relative;
  border: 1px solid black;
  border-radius: 50px;
  margin-right: 2rem;
}
.cart-button:hover{
  width: 3rem;
  height: 3rem;
  background-color: #FFC541;
  transition: all .3s ease-in-out;
}
.counter{
  color: white;
  width: 1.2rem;
  position: absolute;
  background-color: red;
  border-radius: 50px;
  bottom: 0;
  right: 0;
  transform: translate(25%,25%);
  font-size: .8rem;
}
.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
.form {
  --timing: 0.3s;
  --width-of-input: 150px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg,#fff);
}
.input {
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
.form:focus-within:before {
  transform: scale(1);
}

.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
.form svg {
  width: 17px;
  margin-top: 3px;
}
.proxi{
  color: #fcbc28;
}


/***************************** Homepage section ****************************/

.home{
  display: flex;
  height: 100vh;
  align-items: center;

}
.home-text{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: center;
  padding-top: 5rem;
  padding-left: 5rem;
  gap: 4rem;
}
.text-image{
  max-width: 50rem;
  height: auto;

}
.home-hero-image{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image{
  width: 30rem;
  height: auto;

}
.home-text h1{
  font-size: 5rem;
  align-self: flex-start;
  padding-bottom: 2rem;
}
.home-text p{
  font-size: 1.5rem;
  align-self: flex-start;
  padding-bottom: 2rem;
}
.home-text a{
  align-self: flex-start;
}


.home-button {
  position: absolute;
  background: #FBD148;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  padding: 1rem 3rem;
  font-size: 1em;
  cursor: pointer;
  transition: .25s ease;
}

.home-button::before {
  position: absolute;
  content: '';
  box-sizing: border-box;
  top: 0;
  left: 0;
  transform: translate(-5px, -5px);
  width: 100%;
  height: 100%;
  border: 1px solid rgb(84, 84, 84);
  transition: .25s ease;
}

.home-button:hover {
  transform: translate(-5px, -5px);
}

.home-button:hover::before {
  transform: translate(5px, 5px);
}


/***************************** Products section ****************************/

.products{
  background-color: white;
}
.products-container{
  padding: 2rem;
  align-items: center;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  place-content: center;
  row-gap: 2rem;
}
.product-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.54);
  -webkit-box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.54);
  -moz-box-shadow: 0px 3px 13px -5px rgba(0,0,0,0.54);
}
.product-image{
  max-width: 400px;
  height: auto;
  
}
.product-name{
  width: 75%;
  padding-top: .5rem;
}.product-price{
  width: 20%;
  padding-top: .5rem;

}
.product-name h1{
  font-size: 1.5rem;
  font-family: "poppinsBold";
}
.product-price h1{
  font-size: 1.5rem;
  font-family: "poppinsRegular";
}
.product-part1{
  display: flex;
  width: 90%;
  justify-content: space-between;
} 
.product-buttons{
  padding: 1rem 0;
}
.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, #fad57d 0%, #fec02f 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #141ea798;
  letter-spacing: 0.05em;
  border-radius: 5px;
}

.cssbuttons-io-button svg {
  margin-right: 6px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #02050d98;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #09213c98;
}
.cssbuttons-io-button-2 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, #E5503C 0%, #f87463 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #141ea798;
  letter-spacing: 0.05em;
  border-radius: 5px;
}

.cssbuttons-io-button-2 svg {
  margin-right: 6px;
}

.cssbuttons-io-button-2:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #02050d98;
}

.cssbuttons-io-button-2:active {
  box-shadow: 0 0.3em 1em -0.5em #09213c98;
}
.add-top{
  display: flex;
  gap: .5rem;
  font-size: .8rem;
  font-family: "poppinsLight";
}
.add-bot{
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.add-middle {
  font-size: 1.5rem;
  
}
.add-middle span{
  font-size: 2rem;

}
.products-section{
  display: flex;
  flex-direction: column;
}
.products-banner{
  align-self: center;
}
.products-banner img{
  max-width: 100%;
  height: auto;
}
.mini-nav-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
  padding-top: 2rem;
  flex-wrap: wrap;
}
.mini-nav-bar li{
  list-style: none;
  display:inline;
}
.products-button{
  font-size: 1.5rem;
  font-family: "poppinsRegular";
  border: none;
  background-color: white;
  transition: all .5s ease-in;
  text-decoration: underline white;
  text-decoration-thickness: 5px;
}

.products-button:hover{
  text-decoration: underline #000000;
  text-decoration-thickness: 5px;
}

.hide{
  display: none;
  opacity: 0;
}
.show{
  opacity: 1;
  display: inline;
}
.clearance{
  color: #F56F5D;
}

/***************************** About section ****************************/
.color-text{
  color: #FFC541;
}
.about-section{
  width: 99vw;
  display: flex;
  flex-direction: column;
}
.about-section .middle-image{
  align-self: center;
}
.about-combo{
  display: flex;
  height: 100vh;
}
.about-combo2{
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
}
.about-text{
  width: 49%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:2rem;
  padding-left: 15rem;
}
.about-text2{
  width: 49%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap:2rem;
  padding-right: 15rem;
}

.about-text h1{
  font-family: "poppinsBold";
  font-size: 4rem;
}
.about-text p{
  font-family: "poppinsLight";
  font-size: 1.5rem;
}
.about-text2 h1{
  font-family: "poppinsBold";
  font-size: 4rem;
}
.about-text2 p{
  font-family: "poppinsLight";
  font-size: 1.5rem;
}
.about-image{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-image img{
  max-width: 35rem;
  border: solid 15px #FFC541;
  border-radius: 5px;
}
.about-middle{
  border: solid 2px blue;
}
.middle-image{
  max-width: 90rem;
  border: solid 15px #E5503C;
  border-radius: 5px;
}
@media (max-width: 1700px) {
  .middle-image{width: 80rem;}
}
@media (max-width: 1220px) {
  .home-text h1{ font-size: 4.5rem;} .text-image{width: 45rem;} .middle-image{width: 70rem;}
  .about-text{padding: 8rem;}
}
@media (max-width: 1120px) {
  .home-text h1{ font-size: 4rem;} .text-image{width: 40rem;} .middle-image{width: 60rem;}
  .about-middle img{width: 60rem;}  .about-text{padding: 6rem;}

}
@media (max-width: 1040px) {
  .home-text h1{ font-size: 3.5rem;}.text-image{width: 35rem;} .about-image img{width: 30rem;}
  .about-text h1{font-size: 3.5rem;}.about-text p{font-size: 1.3rem;}.middle-image{width: 50rem;}
  .about-text{padding: 4rem;}

}
@media (max-width: 850px) {
  .text-image{width: 30rem;} .hero-image{width: 20rem;} .about-image img{width: 25rem;}
  .about-text h1{font-size: 3rem;}.about-text p{font-size: 1.1rem;}.middle-image{width: 40rem;}
  .about-text{padding: 2rem;}.about-text2 h1{font-size: 3rem;}.about-text2 p{font-size: 1.1rem;}

}
@media (max-width: 665px) {
  .home-text h1{ font-size: 3rem;} .home-text p{font-size: 1.3rem;}.about-image img{width: 20rem;}
  .about-text h1{font-size: 2.5rem;}.about-text p{font-size: 1rem;}.middle-image{width: 35rem;}
  .about-text2 h1{font-size: 2.5rem;}.about-text2 p{font-size: 1rem;}
}
@media only screen and (max-height: 970px){.about-image img{height: 45rem;}}
@media only screen and (max-height: 900px){.about-image img{height: 40rem;}.middle-image{height: 35rem;}}
@media only screen and (max-height: 800px){.about-image img{height: 40rem;}.middle-image{height: 33rem;}}
@media only screen and (max-height: 700px){.about-image img{height: 35rem;}.middle-image{height: 31rem;}}
@media only screen and (max-height: 600px){.about-image img{height: 30rem;}.middle-image{height: 28rem;}}
@media only screen and (max-width: 1000px) {
  /* Hamburger menu */
.navbar{
  position: relative;
  height: 7vh;
}
.cart{
  position: relative;
  right: 10%;

}
.cart h1{
  margin-right: 2rem;
  font-size: 1rem;
}
.form{
  display: none;
}
.hamburger{
  display: block;
  cursor: pointer;
  top: 200%;
  position: absolute;
  top: 30%;
  left: 90%;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.hamburger.active .bar:nth-child(2){ 
  opacity: 0;
}
.hamburger.active .bar:nth-child(1){ 
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg); 
} 

.nav-menu{
  display: flex;
  position: fixed;
  left: -100%;
  top: 0;
  gap: 0;
  flex-direction: column;
  width: 100%;
  text-align:center;
  transition: 0.3s;
  background: #FFFFFF;
}

.nav-item{
  margin: 16px 0;
}

.nav-menu.active{
  left: 0;
}

.nav-link.hover{
  color: #FFC541
}

.navbar a:hover {
  color: #FFC541;
}

#logo{
  font-size: 1.2rem;
}
}

@media (max-width: 600px) {
  .product-image{max-width: 300px;height: auto;}
  .home-text{width: 60%;padding-left:1rem;width:80%;}
  .home-text h1{ font-size: 2rem;}
  .home-text p{font-size: 1rem;}
  .home{ flex-direction: column; justify-content: center; }
  .home-hero-image{justify-content: center;width: 99%; } 
  .hero-image{width: 15rem; margin-right: 2rem;}
  .about-text h1{font-size: 2rem;}.about-text p{font-size: .8rem;}
  .about-text2 h1{font-size: 2rem;}.about-text2 p{font-size: .8rem;}
  .about-combo{height: 70%;}
  .about-combo2{height: 70%;}
  .about-image img{width: 12rem; height: 25rem;  border: solid 5px #FFC541; }
  .middle-image{ border: solid 5px #E5503C; margin: 4rem 0;  width: 22rem; height: 12rem;}
  .about-text{padding: 1rem;} .about-middle img{width: 25rem; }
  .about-text2{padding: 1rem;} .about-middle img{width: 25rem; }
  .products-button{font-size: .8rem;}
  .product-name h1{  font-size: 1rem;  font-family: "poppinsBold"; }
  .product-price h1{ font-size: 1rem;  font-family: "poppinsRegular"; }
  Footer{flex-direction: column; align-items: center;}
}

Footer{
  display: flex;
  justify-content: space-around;
  border-top: solid 1px #DADADA;
  padding-top: 1rem;
}
.form-container form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  font-family: "poppinsLight";
}
ul li a{
  text-decoration: none;
  font-family: "poppinsLight";
  color: #3F454A;
}
ul li{
  list-style: none;
}
Footer h4{
  font-family: "poppinsBold";
  font-size: 1.2rem;
  color: #363634;
}
.form-container h3{
  font-family: "poppinsBold";
  font-size: 1.2rem;
  color: #363634;
}
.form-container input::placeholder{
  font-size: .8rem;

}
.form-container textarea{

}
.form-button{
  box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.form-button:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.form-button:active {
	position:relative;
	top:1px;
}
